/*global*/
/* the * represents all elements and will apply to everything in html*/
/* import sends a copy of the style used from a different css link*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
/* The :root is a customizable shortcut where you can input your own colors and font styles/space*/
:root{
    --primary:#ffcc00;
}
*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Lato', sans-serif;
    background-color: black;
    color:white;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
.news-container{
    width:100%;
    margin-right: auto;
    margin-left: auto;
}
@media(min-width:768px){
    main{
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}
/*menu*/
.menu-navigation{
    background-color: white;
    display:flex;
    justify-content: space-between;
    height:45px;
    align-items: center;
}
.img-complete {
    display:none;
}
.img-frame{
    height: 32px;
    margin-left: 20px;
}
.link-search, .link-news, .link-menu{
    display:none;
}
/* @media is an option for when you expand the website, different display options will be applied within its brackets. think of it as a what if this happens the computer does this and that kind of scenario. used for adaptive display.*/
@media(min-width:768px){
        .img-complete{
            display:block;
            margin-left:15px;
        }
        .img-frame{
            display: none;
        }
        .link-search{
            display: inline-block;
        }
        .link-news{
            display: inline-block;
            color: black;
            border-bottom: 2px solid #ffcc00;
            margin-left: 20px;
            margin-right: 20px;
            background-size: 100% 200%;
        background-image:linear-gradient(to bottom, white 50%, var(--primary) 50%);
        transition: background-position .3s ease-in-out, color .1s ease-in-out;
        }
        .link-news:hover{
         background-color: #ffcc00;
         background-position: 0 100%;
        }
        .link-menu{
            display: inline-block;
            color: black;
        }
}
.link-login{
    color:black;
    text-transform:uppercase;
    font-size: 14px;
    font-weight:bold;
    letter-spacing: 3px;
    margin-right: 20px;
}
.link-subs{
    color:white;
    text-transform: Uppercase;
    font-size: 14px;
    font-weight: bold;
    font-size:13px;
    letter-spacing: 3px;
    margin-right: 20px;
    background-color: black;
    padding: 12px;
    padding-top: 18px;
    box-shadow: inset 0 0 0 0 #ffcc00;
    transition: ease-out .3s;
}
/* : placed after a class are css animations to include such as hover and transitions*/
.link-subs:hover{
    box-shadow: inset 150px 0 0 0 #ffcc00;
    color: black;
}
.fa-angles-down{
    color:black;
    margin-right: 20px;
}
header{
    height:20vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media(min-width:768px){
   header{
    height:20vh;
   } 
   }
header h1{
    text-align: center;
    font-size:45px;
    font-weight: 1000;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 5px;
}
@media(min-width:768px){
    header h1{
        font-size: px;
    }
}
header span{
    border-bottom:  2px solid #ffcc00;
    background-size: 100% 200%;
    background-image:linear-gradient(to bottom, black 50%, var(--primary) 50%);
    transition: background-position .3s ease-in-out, color .1s ease-in-out;

}
header span:hover{
    background-color: #ffcc00;
    color: black;
    background-position: 0 100%;
}
header p{
    text-align: center;
    margin: 15px;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.6;
}
@media(min-width:768px){
    header p{
        font-size: 18px;
}
}
.border{
    background-color: #ffcc00;
    width: 32px;
    height: 4px;
    margin-top:5px;
}
@media(min-width:768px){
    header .border{
        background-color: #ffcc00;
        width: 64px;
        height: 4px;
        margin-top:5px;
    }
}
/*main news text*/
@media(min-width:768px){
    main{
        display:flex;
        flex-direction: row-reverse;
    }
}
.main-news{
    position: relative;
    margin-bottom:20px;
    overflow: hidden;
}
.main-news img{
    transition: transform .2s;
}
.main-news img:hover{
  transform: scale(1.1); 
  max-zoom: 50%;
}
.main-news-text{
    position: absolute;
    top:250px;
    left:20px;
}
@media(min-width:768px){
    .main-news-text{
        position: absolute;
        top: 500px;
    }
}
.main-news-text h3{
    text-transform:uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.main-news-text h3:hover{
    text-decoration: underline;
    
}
.main-news-text p{
    font-size:32px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.main-news-text h4{
text-transform: uppercase;
letter-spacing: 2px;
font-size :13px;
}
.main-news-text i{
    margin-right: 10px;
}
/* secondary news section*/
@media(min-width:768px){ 
    .secondary-news-container{
        display: flex;
        justify-content: space-between;
    }
    .secondary-news{
        margin-bottom: 20px;
        overflow:hidden;
    }
}
@media(min-width:768px){
    .secondary-news {
        width: 400px;
        height: 500px;
    }
}
.secondary-news{
    overflow: hidden; /*this attribute prevents image from zooming out from the container*/
    margin-bottom:20px;
    margin-left:15px;
    margin-right:15px;
}
.secondary-news img{
    min-width: 100%;
    transition: transform .2s;
}
.secondary-news img:hover{
    transform: scale(1.1);
    border-bottom: 5px solid #ffcc00;
}
.secondary-news-text{
    background-color: white;
    color:black;
    margin-top: -10px;
    padding:35px;
}
.secondary-news-text h3{
    text-transform:uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 15px;
}
.secondary-news-text h3:hover{
    text-decoration: underline;
}
.secondary-news-text p{
    font-size:20px;
    font-weight: bolder;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.secondary-news-text h4{
    text-transform: uppercase;
letter-spacing: 2px;
font-size :13px;
font-weight: bolder;
}
.secondary-news-text i{
    margin-right:10px;
}
/* today's section*/
.todays-container{
    width: 95%;
    margin-left:auto;
    margin-right:auto;
  
}
.todays-container h2{
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-left: 5px solid #ffcc00;
    padding-left:15px;
    margin-bottom: 15px;
    line-height: .8;
}
.pick-item{
    display: flex;
    margin-top: 30px;
}
.pick-item img{
    width: 100px;
    height:100px;
    margin-right: 15px;
}
.column{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    line-height: 1.6;
}
.column p:hover{
    text-decoration: underline;
}
.column h3{
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
   }
   .flex span{
    margin-right: 150px;
   }
@media(min-width:768px){
    .flex{
        flex-direction: column;
        align-items: flex-start;
    }    
}
   .flex h4{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: lighter;
    margin-top: 4px;
    letter-spacing: 2px;
   }
   .see-more{
    text-align: center;
    font-size: 14px;
    font-weight: bolder;
    margin:30px;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    text-transform: uppercase;
    border-bottom: 2px solid #ffcc00;
    background-size: 100% 200%;
    background-image:linear-gradient(to bottom, black 50%, var(--primary) 50%);
    transition: background-position .3s ease-in-out, color .1s ease-in-out;
   }
   @media(min-width:768px){
    .see-more{
        margin-right: 300px;
    }
   }
   .see-more:hover{
    background-color: #ffcc00;
    color: black;
    background-position: 0 100%;
   }
