.flex-container{
display:flex;
flex-direction:column;
justify-content: space-around;
height: 500px;
background-color: #dedede;
}
.flex-element{
    background-color: green;
    border: 1px solid yellowgreen;
    padding: 10px;
}